<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SmokeTest</td><td>TC237_CreateAndShareAudience.createAndShareAudience()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]<br/></td></tr>
</table>
