<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:05</td>   <td>0</td> <td title="&lt;&lt;ProjectWrappers.afterSuite()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>22/01/05 12:23:00</td>   <td>-5149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC237_CreateAndShareAudience.createAndShareAudience()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">createAndShareAudience</td> 
  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:00</td>   <td>-5150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeMethod()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="9570b7">  <td>22/01/05 12:23:00</td>   <td>-5161</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC237_CreateAndShareAudience.beforeClass()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:04</td>   <td>-619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterMethod()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:04</td>   <td>-617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterClass()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:05</td>   <td>-35</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectWrappers.afterTest()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:22:57</td>   <td>-7634</td> <td title="&gt;&gt;ProjectWrappers.beforeSuite()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
<tr bgcolor="96d072">  <td>22/01/05 12:23:00</td>   <td>-5176</td> <td>&nbsp;</td><td title="&gt;&gt;ProjectWrappers.beforeTest()[pri:0, instance:sharedAudienceAttributes.TC237_CreateAndShareAudience@7ef82753]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897848096</td>   <td></td> </tr>
</table>
